* { box-sizing: border-box; }
html {scroll-behavior: smooth;}
body { 
	background-image: url("../images/texture-blue.jpg"); 
	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	overflow: auto;
	background-color: #333333;
	color:  #333333; 
	font-family: Arial, Helvetica, or sans-serif;
	margin: 0px;
	height: 100%;
	width: 100vw;
}

#sectHome {
	height: 50vh; 
	width: 100vw;
}
.hero-image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/texture-grey.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.hero-text {
 	text-align: center;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	color: white;
}
.hero-text a:hover{ color: #ECECEC; }
.down{
	border: solid white;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
  	transform: rotate(45deg);
  	-webkit-transform: rotate(45deg);
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + body { padding-top: 40px; }

header { 
	background-color: #333333; 
	color: #ECECEC; 
	opacity: 0.8;
	height: 5vh; 
	width: 100vw;
	display: flex; 
	overflow: hidden;
}
#logo{ 
	width: 15%;
	height: 100%;
	float: left; 
	justify-content: space-around;
	align-items: center;
}
#logo a{
	width: 100%;
	height: 100%;
	display: block;
	background-image: url("../favicon_io/favicon-32x32.png");
	background-position: center;
	background-repeat: no-repeat;
}
header a { text-decoration: none; }
header a:link { color: #ECECEC; }
header a:hover { color: #ECECEC; }
nav { 
	position: absolute;
    right: 0px;
	font-weight: bold;
	text-align: right;
	color: #ECECEC;
	width: 85%;
	height: 100%;
	float: right;
	text-align: center;
	padding: 2%;
	font-size: 85%;	
}
nav ul {
	list-style-type: none; 
	margin: auto;
	display: flex; 
	flex-flow: row nowrap; 
	justify-content: space-around;
	align-items: center;
	text-align: center;	
	width: 100%;
	height: 100%;
	padding: 0px;
}
nav li { 
	width: 100%; 
	height: 100%; 
}
nav a { 
	width: 100%; 
	height: 100%; 
	float: right;
  	display: block;
  	color: #ECECEC;
  	text-align: center;
  	text-decoration: none;
}
nav a:link { color: #ECECEC; }
nav a:hover { color: #606060; }


#sectAbout{ 
	background-color: #CCCCCC;
	height: 50vh;
	border: 5px solid #606060;
	margin: 6%;
	padding: 4%;
	overflow: auto;
	align-items: center;
}
#sectAbout h2 { margin-bottom: 5%; }
#sectAbout h3 { text-align: center; }
#sectOne {
	width: 100%;
	height: 100%;
	float: top;
	margin: auto;
}
#aboutImage {
	background-image: url("../images/profile.jpg");
	background-color: white;
	background-repeat: no-repeat;
	background-size: cover;
	align-items: center;
	border: 3px solid #606060;
	box-shadow: 1px 1px 1px #ECECEC;
	margin: auto;
	margin-bottom: 10%;
	width: 53%; 
	height: 42%;
	overflow: auto;	
}
#personalProfile { width: 100%; }
#sectTwo {
	width: 100%;
	height: 100%;
	padding: 2%;
	float: bottom;
}
#sectTwo h3 { 
	margin-bottom: 0px; 
	text-align: left
}
#sectTwo h4 { margin: 0px; }
#moreInfo {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

#sectProject {
	margin: 6%;
	font-size: 4vw;	
}
#sectProject h2 { margin-bottom: 0px; }
#sectProject h3 { margin-top: 0px; }
#project_text{
	padding: 3%;
	margin-bottom: 3%;
	text-align: center;
	background-color: #C0C0C0;
}

iframe { width: 100%; height: 100%; }
video { width: 100%; height: 100%; }
img { width: 100%; height: 100%; }
.project {
	width: 100%;
  	height: 40vh;
  	overflow: auto;
  	padding: 2%;
  	margin-top: 2%;
  	margin-bottom: 2%;
}
.web{
	width: 100%;
	height: 100%;
}
.info {
	width: 100%;
	height: 100%;
	padding: 5%;
	margin: auto;
	overflow: auto;
	background-color: #C0C0C0;	
}

#sectResume{ 
	background-color: #CCCCCC;
	border: 5px solid #606060;
	height: 50vh;
	padding: 5%;
	margin: 6%;
	font-size: 4vw;	
}
#resumePdf {
	width: 80%;
	height: 85%;
	margin: auto;
	padding: 6%;
	background-color: white;
}

#sectConnect{ 
	background-color: #C0C0C0;
	height: 50vh;
	padding: 5%;
	align-items: center;
	margin: 6%;
}
#connect { 
	left: 50%;
	width: 70%;
	height: 60%;
	text-align: center;
	margin: auto; 
	padding-top: 10%;
	font-size: 4vw;	
}
button{
	background-color: #ECECEC;
	border: 2px solid #606060;
	color:  #333333;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

h1 {
 	margin-bottom: 0; margin-top: 0;
 	font-family: Georgia, "Times New Roman", or serif;
 	letter-spacing: 0.25em; padding-top: 0.5em; padding-bottom: 0.5em;
}
h2 {
 	font-family: Georgia, "Times New Roman", or serif;
 	text-shadow: 1px 1px 1px #ECECEC;
 	text-align: center;
 	margin: 0px;
}
h3 {
	font-family: Georgia, "Times New Roman", or serif;
}


footer {
	font-size: 75%; font-style: italic; text-align: center;
	font-family: Georgia, "Times New Roman", or serif;
	background-color: #CCCCCC; 
	padding: 2em;
	border: 2px solid #606060;
	margin-left: 6%;
	margin-right: 6%;
	height: 8vh;
	font-size: 2.5vw;	
}


/* Tablet View */
@media (min-width: 600px){
	#sectHome { height: 60vh; }
	.sticky + body {
  		padding-top: 60px;
	}
	#logo{ padding: 0%;}
	nav { 
		width: 80%; 
		padding: 1%;
		font-size: 100%;	
	}
	#sectAbout{ 
		height: 60vh;
		overflow: hidden;
		padding: 0%;
		font-size: 2.5vw;
	}
	#sectOne {
		width: 90%;
		height: 40%;
		float: top;
		display: flex;
		flex-wrap: row wrap;
	}
	#aboutImage { 
		width: 40%; 
		height: 100%;
	}
	#personalProfile { width: 50%; }
	#sectTwo {
		width: 100%;
		height: 50%;
		float: bottom;
	}
	#sectTwo h3 { margin-bottom: 0px; }
	#sectTwo h4 { margin: 0px; }
	#moreInfo {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	#sectProject{font-size: 2.5vw;}
	.project { 
		height: 60vh;
		margin-top: 0%;
  		margin-bottom: 0%;
	}
	#project_text{margin-bottom: 0%;}
	.project:nth-child(odd) .web{ float: left; }
	.project:nth-child(even) .web{ float: right; }
	.web {
		width: 50%;
		height: 100%;
		display: block;
	}
	iframe { width: 100%; height: 100%; }
	.project:nth-of-type(odd) .info{float: right;}
	.project:nth-of-type(odd) .info h3{text-align: right}
	.project:nth-of-type(even) .info{float: left;}
	.info {
		width: 50%;
		height: 100%;
		display: block;
	}
	#sectResume{ 
		height: 60vh;
		padding: 2%;
		font-size: 3vw;	
	}
	#resumePdf { 
		width: 50%;
		height: 80%;
		padding: 0%;
	}
	#sectConnect{ 
		height: 60vh;
	}
	#connect { 
		width: 70%;
		height: 80%;
		font-size: 3vw;	
	}
	h2 {margin-top: 2%; margin-bottom: 2%;}
}


/* Desktop View */
@media (min-width: 1240px){
	#sectHome { height: 100vh; }
	.sticky + body {
		padding-top: 120px;
	}
	#logo{ padding: 0%; }
	nav { 
		width: 35%; 
		padding: 1%;
		font-size: 100%;	
	}
	#sectAbout{ 
		height: 95vh;
		overflow: hidden;
		padding: 6%;
		font-size: 1.3vw;
		margin-left: 8%;
		margin-right: 8%;	
	}
	#sectOne {
		width: 90%;
		height: 53%;
		float: top;	
		display: flex;
		flex-wrap: row nowrap;
		margin: 0px; padding: 0px;
	}
	#aboutImage { width: 30%; height: 85%;}
	#personalProfile { width: 50%; }
	#sectTwo {
		width: 100%;
		height: 47%;
		float: bottom;
		margin: 0px; padding: 0px;
	}
	#sectTwo h3 { margin-bottom: 0px; }
	#sectTwo h4 { margin: 0px; }
	#moreInfo {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	#sectProject{
		font-size: 1.3vw;
		margin-left: 8%;
		margin-right: 8%;
	}
	.project { 
		height: 60vh;
		margin-top: 0%;
  		margin-bottom: 0%;
	}
	#project_text{margin-bottom: 3%;}
	.project:nth-child(odd) .web{ float: left; }
	.project:nth-child(even) .web{ float: right; }
	.web {
		width: 50%;
		height: 100%;
		display: block;
	}
	iframe { width: 100%; height: 100%; }
	.project:nth-of-type(odd) .info{float: right;}
	.project:nth-of-type(odd) .info h3{text-align: right}
	.project:nth-of-type(even) .info{float: left;}
	.info {
		width: 50%;
		height: 100%;
		display: block;
	}
	#sectResume{ 
		height: 95vh;
		padding: 2%;
		font-size: 1.3vw;
		margin-left: 8%;
		margin-right: 8%;
	}
	#resumePdf { 
		width: 45%;
		height: 85%;
		padding: 0%;
	}
	#sectConnect{ 
		height: 95vh;
		margin-left: 8%;
		margin-right: 8%;
	}
	#connect { 
		width: 70%;
		height: 80%;
		font-size: 1.5vw;
	}
	footer{
		font-size: 1vw;
		margin-left: 8%;
		margin-right: 8%;
	}
}